* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;

}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
}
/*
main {
    background: url(/bkg.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;

}*/

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    
}
.baner{
    
    height: calc(100vh -100px);
    background-color: #333;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    background-image: url(/imagens/fundo-1.jpg);
}
.baner .sliders{
width: 1000vw;
height: 100%;

}

.baner .slide{
width: 100vw;
height: 100%;
display: inline-block;
background-color: rgb(143, 106, 106);

}
.baner.slidearea{
    display: flex;
    height: 100%;
    align-items: center;    
    justify-content: center;
    color: #fff;
    margin-top: 15px;
}




























